<div class="layout">
  <aside class="sidebar">
    <h2 class="logo">RentCar</h2>

    <nav>
      <a routerLink="/dashboard">Dashboard</a>
<a routerLink="/vehicles">Vehicles</a>

<!-- USER ONLY -->
<a routerLink="/bookings" *ngIf="role === 'user'">My Bookings</a>

<!-- ADMIN ONLY -->
<a routerLink="/customers" *ngIf="role === 'admin'">Customers</a>
<a routerLink="/bookings" *ngIf="role === 'admin'">All Bookings</a>

    </nav>
  </aside>

  <main class="content">
    <header class="header">
      <span>Rental Car Management</span>
      <button class="logout" (click)="logout()">Logout</button>

    </header>

    <section class="page">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
